version: 2

updates:
  - package-ecosystem: maven
    directory: /
    schedule:
      interval: weekly
      day: monday
    groups:
      maven-dependencies:
        patterns:
          - '*'

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
      day: monday
    groups:
      github-actions:
        patterns:
          - '*'
